.settingLocation {
  display:flex;
  margin-bottom: 0.5%;
}

.logoLocation {
  /* display: inline-block; */
  flex: 1;
}

.up {
  display:flex;
}

.down {
  margin-top: 1%;
}

.themeLocation {
  /* float: right; */
  /* display: inline-block; */
}

.i18nLocation {
  /* float: right; */
  /* display: inline-block; */
}