
[web-theme = "dark"] {
  --select-background-color: #006b29;
  --color: #ccebff;
}

[web-theme = "light"] {
  --select-background-color: #2600ff;
  --color: #fffb00;
}

#i18nSelector {
  background-color: var(--select-background-color);
  color: var(--color);
}