
[web-theme = "dark"] {
  --select-background-color: #006b29;
  --color: #ccebff;
}

[web-theme = "light"] {
  --select-background-color: #b3e6ff;
  --color: #4d004d;
}

#i18nSelector {
  background-color: var(--select-background-color);
  color: var(--color);
}