.App {
  text-align: center;
  
}

[web-theme = "dark"] {
  --background-color: #797979;
}

[web-theme = "light"] {
  --background-color: #ca0000;
}

.myColor {
  background-color: var(--background-color);
}

.shopping {
  background-color: #1162e6;
  margin-left: 5%;
  margin-right: 5%;
}
