[web-theme = "dark"] {
  --myWeb-background-color: #414141;
  --myWeb-color: #e6e6e6;
}

[web-theme = "light"] {
  --myWeb-background-color: #cfcfcf;
  --myWeb-color: #000000;
}

.myWeb {
  background-color: var(--myWeb-background-color);
  min-height: 100vh;
  color: var(--myWeb-color);
}

.shopping {
  background-color: #1162e6;
  margin-left: 5%;
  margin-right: 5%;
}
